<ion-header>

  <ion-navbar color="primary">
    <ion-title>Gestione Registrazione</ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="Cerca per nome squadra" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>

        <ion-list>
            <ion-item *ngFor="let utente of utenti">
              <h2>{{utente.nome_s}}</h2>
              <h3>{{utente.email}}</h3>
              <p>{{utente.ruolo}}</p>
              <button item-end *ngIf="utente.stato == 'rifiutato';" class="rifiutato" ion-button> </button>
              <button item-end *ngIf="utente.stato == 'approvato';" class="approvato" ion-button> </button>
              <button item-end *ngIf="utente.stato == 'in attesa';" class="inAttesa" ion-button> </button>
              <ion-icon item-end name="checkmark-circle-outline" (click)="updateStatus(utente,'approvato','')"></ion-icon> 
              <ion-icon item-end name="close" (click)="updateStatus(utente,'rifiutato','')"></ion-icon>
            </ion-item> 
          </ion-list>


</ion-content>
    
        