page-gestione-registrazione {

    .inAttesa{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        background-color: #EDFF21;
        right:10px;
    }

    .approvato{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        background-color: #287233;
        right:15px;
    }

    .rifiutato{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        background-color: red;
        right:10px;
    }

    .dati{
        font-size:19px;
    }
}
