<ion-header>
        <ion-navbar color="primary">
          <ion-title>Modifica Password</ion-title>
          
        </ion-navbar>
      </ion-header>
      
      <ion-content padding >
        <p>
          <img src="assets/img/logo1.gif"/>
        </p>
      <p>
      </p>
      <ion-list>
        <ion-item>
            <ion-label>Email: {{email}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Password: {{password}}</ion-label>
        </ion-item>
        <ion-item *ngIf="nome_s != 'admin';">
                <ion-label>Nome Squadra: {{nome_s}}</ion-label>
        </ion-item>
        <ion-item *ngIf="nome_s != 'admin';">
                <ion-label>Componenti: {{componenti}}</ion-label>
        </ion-item>
        <ion-item *ngIf="nome_s != 'admin';">
                <ion-label>Stato: {{stato}}</ion-label>
        </ion-item>
        <ion-item>
                <ion-label>Ruolo: {{ruolo}}</ion-label>
        </ion-item>
        
      </ion-list>
    
      <p align='center'>
        <button ion-button color="primary" round (click)='goToModificaPassword()'>Modifica Password</button>
      </p>
      </ion-content>
    
    