page-home {
  .sfondo{
      color: rgb(202, 237, 243);
  }
  .dimensioni{
      width: 30%
  }

  img{
    width: 95%;
    height: 95%;
  }

  .home{
    width: 95%;
    height: 95%;
    background: #ffffff;
  }
}